body {
  background: transparent !important;
  overflow: hidden;
}

.nes-badge {
  display: inline-flex !important;
  position: unset !important;
  width: unset !important;
}

.nes-badge.is-splited,
.nes-badge span:first-child,
.nes-badge span:last-child
{
  position: unset !important;
}

.nes-badge span {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  width: unset !important;
}

.nes-badge span:last-child {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
